.WhiteKing{
    width:90%;
    margin: 5%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/whiteking.png");
    background-size: 100% 100%;
}

.BlackKing{
    width:90%;
    margin: 5%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/blackking.png");
    background-size: 100% 100%;
}

.WhiteQueen{
    width:90%;
    margin: 5%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/whitequeen.png");
    background-size: 100% 100%;
}

.BlackQueen{
    width:90%;
    margin: 5%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/blackqueen.png");
    background-size: 100% 100%;
}

.WhiteBishop{
    width:90%;
    margin: 5%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/whitebishop.png");
    background-size: 100% 100%;
}

.BlackBishop{
    width:90%;
    margin: 5%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/blackbishop.png");
    background-size: 100% 100%;
}

.WhiteKnight{
    width:90%;
    margin: 5%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/whiteknight.png");
    background-size: 100% 100%;
}

.BlackKnight{
    width:90%;
    margin: 5%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/blackknight.png");
    background-size: 100% 100%;
}

.WhiteRook{
    width:90%;
    margin: 5%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/whiterook.png");
    background-size: 100% 100%;
}

.BlackRook{
    width:90%;
    margin: 5%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/blackrook.png");
    background-size: 100% 100%;
}

.WhitePawn{
    width:90%;
    margin: 5%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/whitepawn.png");
    background-size: 100% 100%;
}

.BlackPawn{
    width:90%;
    margin: 5%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/blackpawn.png");
    background-size: 100% 100%;
}
