.gamePage{
    background-color: rgba(75, 75, 74, 0.8);
    height: 100%;
    font-family: 'Girassol', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.playerOneLabel{
    text-align: left;
    margin-left: 10%;
    padding-top: 2%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.playerTwoLabel{
    margin-left: 10%;
    position: absolute;
    bottom: 4%;
    text-align: left;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.playerB{
    color: black;
    font-size: 14pt;
}

.playerW{
    color: white;
    font-size: 14pt;
}

.playerArrowInvisible{
    visibility: hidden;
}

.playerWArrow{
    color: white;
    font-size: 14pt;
}

.playerBArrow{
    color: black;
    font-size: 14pt;
}