.gameBoard{
    text-align: center;
    position: absolute;
    width:45%;
    height: 75%;
    margin-left: 10%;
    top: 12.5%;
    bottom: 12.5%;
    border: 5px double rgb(33, 0, 0);
    color:white;
}

.gameBoardDisabled{
    text-align: center;
    position: absolute;
    width:45%;
    height: 75%;
    margin-left: 10%;
    top: 12.5%;
    bottom: 12.5%;
    border: 5px double rgb(33, 0, 0);
    color:white;
    pointer-events: none;
}

.white{
    border:1px solid  rgb(33, 0, 0);
    float: left;
    width: 12.5%;
    height: 12.5%;
    background-color: rgb(255, 255, 153);
    text-align: center;
}

.black{
    border:1px solid  rgb(33, 0, 0);
    float: left;
    width: 12.5%;
    height: 12.5%;
    background-color: rgb(99, 19, 19);
    text-align: center;
}

.light{
    border:3px solid  white;
}

