.homePage{
    font-family: 'Girassol', cursive;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 153);
    text-align:center ;
    text-shadow: -1px 0 rgb(33, 0, 0), 0 1px rgb(33, 0, 0), 1px 0 rgb(33, 0, 0), 0 -1px rgb(33, 0, 0);
}

.bottom{
    color:black;
}

.gamename{
    font-family: 'Bangers', cursive;
}

.btnstart{
    width: 20%;
    height: 10%;
    left: 40%;
    right:40%;
    margin-top: 20%;
    border: 4px solid rgb(255, 255, 153);
    background-color: rgb(33, 0, 0);
    color: rgb(255, 255, 153);
    font-size: 20pt;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btnstart:hover {
    -webkit-transform: scale(1.10, 1.10);
    transform: scale(1.10, 1.10);
    background-color: rgb(255, 255, 153);
    border: 4px solid rgb(255, 255, 153);
    font-size: 20pt;
    color:rgb(33, 0, 0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }