.timersDisplay{
   position: absolute;
   top: 12.5%;
   left: 60%;
   bottom: 12.5%;
   width: 35%;
   height: 75%;
}

.clock{
   margin-top:10%;
   font-size: 20pt;
   color: rgb(99, 19, 19);
   text-shadow: -1px 0 black, 0 1px black, 1px 0 white, 0 -1px white;
   border: 2px double black;
   border-radius: 5px;
   background-color: rgba(255, 255, 153, 0.9);
   width: 30%;
   margin-left: 35%;
   margin-right: 35%;
   font-family: 'Rakkas', cursive;
}

.timeTitle{
   margin-top:10%;
   width: 40%;
   margin-left: 30%;
   margin-right: 30%;
   font-size: 24pt;
   color: rgba(255, 255, 153, 0.9);
}