.promoPieceWhiteQueen{
    float: right;
    border: 1px solid rgb(33, 0, 0);
    background-color: rgb(255, 255, 153);
    width:23%;
    margin: 1%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/whitequeen.png");
    background-size: 100% 100%;
}

.promoPieceWhiteRook{
    float: right;
    border: 1px solid rgb(33, 0, 0);
    background-color: rgb(255, 255, 153);
    width:23%;
    margin: 1%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/whiterook.png");
    background-size: 100% 100%;
}

.promoPieceWhiteBishop{
    float: right;
    border: 1px solid rgb(33, 0, 0);
    background-color: rgb(255, 255, 153);
    width:23%;
    margin: 1%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/whitebishop.png");
    background-size: 100% 100%;
}

.promoPieceWhiteKnight{
    float: right;
    border: 1px solid rgb(33, 0, 0);
    background-color: rgb(255, 255, 153);
    width:23%;
    margin: 1%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/whiteknight.png");
    background-size: 100% 100%;
}

.promoPieceBlackQueen{
    float: right;
    border: 1px solid rgb(33, 0, 0);
    background-color: rgb(255, 255, 153);
    width:23%;
    margin: 1%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/blackqueen.png");
    background-size: 100% 100%;
}

.promoPieceBlackRook{
    float: right;
    border: 1px solid rgb(33, 0, 0);
    background-color: rgb(255, 255, 153);
    width:23%;
    margin: 1%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/blackrook.png");
    background-size: 100% 100%;
}

.promoPieceBlackBishop{
    float: right;
    border: 1px solid rgb(33, 0, 0);
    background-color: rgb(255, 255, 153);
    width:23%;
    margin: 1%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/blackbishop.png");
    background-size: 100% 100%;
}

.promoPieceBlackKnight{
    float: right;
    border: 1px solid rgb(33, 0, 0);
    background-color: rgb(255, 255, 153);
    width:23%;
    margin: 1%;
    height: 90%;
    font-size: 30pt;
    background-image: url("../images/gamePieces/blackknight.png");
    background-size: 100% 100%;
}

.promoPieceDefault{
    float: right;
    border: 1px solid rgb(33, 0, 0);
    background-color: rgb(255, 255, 153);
    width:23%;
    margin: 1%;
    height: 90%;
    font-size: 30pt;
    background-size: 100% 100%;
}



.promoPiece:hover{
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}