.promoDisplayWhite{
    position: absolute;
    top: 2.5%;
    left: 30%;
    width: 25%;
    height: 10%;
    border:1px solid white;
    background-color: rgb(99, 19, 19);
    overflow: over;
}

.promoDisplayBlack{
    position: absolute;
    bottom: 2.5%;
    left: 30%;
    width: 25%;
    height: 10%;
    border:1px solid white;
    background-color: rgb(99, 19, 19);
    overflow: over;
}

.promoDisplay{
    visibility: hidden;
}